header.header
    .header__column
        i.fab.fa-youtube
    .header__column
        ul
            li
                a(href=routes.join) Join
            li
                a(href=routes.login) Login
