.social-login
    button.social-login--github
        a(href=routes.github)
            span 
                i.fab.fa-github
            | &nbsp 깃헙으로 로그인 하기
    button.social-login--github
        a(href=routes.google)
            span 
                i.fab.fa-google
            | &nbsp 구글로 로그인 하기
    button.social-login--facebook
        span
            i.fab.fa-facebook
        | &nbsp 페이스북으로 로그인 하기
    