include ../mixins/message

doctype html
html
    head
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.11.2/css/all.css", integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN", crossorigin="anonymous")
        title #{pageTitle} | #{title}
        link(rel="stylesheet", href="/static/styles.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        if messages.error 
            +message({
                type: "error",
                text: messages.error
            })
        else if messages.info
            +message({
                type: "info",
                text: messages.info
            })
        else if messages.success
            +message({
                type: "success",
                text: messages.success
            })
        else if messages.failure
            +message({
                type: "failure",
                text: messages.failure
            })
        else if messages.logout
            +message({
                type: "logout",
                text: messages.logout
            })
        include ../partials/header
        main 
            block content
        include ../partials/footer
        script(src="/static/main.js")
        