extends layout/main

block content
    .form__container
        form(action=routes.editProfile, method="post")
            label(for="avatar") Avatar
            input(type="file", name="file")
            input(type="text", name="name", placeholder="이름")
            input(type="email", name="email", placeholder="이메일")
            input(type="submit", value="변경하기")
        a.form-container__link(href=`/users${routes.changePassword}`) Change Password