extends layout/main

block content
    .form-container
        form(action=`/videos${routes.editVideo}`, method="post")
            label(for="videoFile") Video file
            input(type="file", name="videoFile", required = true)
            input(type="text", name="title", placeholder="제목", required = true)
            input(type="text", name="desciption", placeholder="설명", required = true)
            input(type="submit", value="업로드")
    a.form-container__link--delete(href=`/videos${routes.deleteVideo}`) 삭제하기