extends layout/main

block content
    .form-container
        form(action=`/videos${routes.upload}`, method="post", enctype="multipart/form-data")
            label(for="avatar") Video file 
            input(type="file", name="fileName", required = true, accept="video/*")
            input(type="text", name="title", placeholder="제목", required = true)
            textarea(type="text", name="desciption", placeholder="설명", required = true)
            input(type="submit", value="업로드")