extends layout/main

block content
    .form-container
        form(action=`/users${routes.changePassword}`, method="post")
            input(type="password", name="curPassword", placeholder="현재 비밀번호", required = true)
            input(type="password", name="password", placeholder="새 비밀번호", required = true)
            input(type="password", name="password2",placeholder="새 비밀번호 확인", required = true)
            input(type="submit", value="변경하기")