.footer {
  border-top: 1px solid #d1d1d1;
  padding: 1rem 0;
  text-align: center;
  font-size: 11px;
  color: rgb(102, 102, 102);
  width: 100%;
  margin-top: 2rem;
  .footer__text {
    margin-bottom: 0.5rem;
  }
}
