.header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  display: flex;
  height: 67px;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1rem;
  .header__column {
    display: flex;
    margin: auto 1rem;
    & form {
      margin-right: 1rem;
      margin-left: 1rem;
      width: 244px;
      min-height: 29px;
      border: 1px solid $lineColor;
      border-radius: 3px;
    }
    & button {
      width: 29px;
      height: 29px;
      background-color: $bgColor;
      color: $lineColor;
      border: 0;
      border-radius: 3px;
    }
    & input {
      width: 203px;
      padding: 8px 0px 7px 9px;
      font-size: 12px;
      border: 0;
      color: #181818;
    }

    & ul {
      display: flex;
      justify-content: space-around;
      width: 160px;
      color: $lineColor;
      & li {
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        & img {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .header {
    width: 100%;
    position: fixed !important;
    .header__column {
      margin-right: 5px;
      form {
        margin-right: 0;
        width: 90px;
        input {
          width: 50px;
        }
      }
      & ul {
        width: 70px;
      }
      .menu {
        display: none;
      }
    }
  }
}
