.social-login
    button.social-login--github
        a(href=routes.github)
            span 
                i.fab.fa-github
            | &nbsp 깃헙으로 로그인 하기
    button.social-login--google
        a(href=routes.google)
            span 
                i.fab.fa-google
            | &nbsp 구글로 로그인 하기
    button.social-login--kakao
        a(href=routes.kakao)
            span
                i.fas.fa-comment
            | &nbsp 카카오로 로그인 하기
    