.video {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  margin-top: 1rem;
}
.videoBlock {
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  & a {
    width: 100%;
    & .video__content {
      display: inline-flex;
      flex-direction: column;
    }
    & video {
      background-color: #d8d8d8;
      border-top: 1px solid #d8d8d8;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      max-height: 12rem;
      width: 100%;
    }
    & .avatarImg {
      display: inline-block;
      margin: 0.5rem 0.5rem 0.5rem 0.5rem;
      width: 3rem;
      height: 3rem;
      border-radius: 3rem;
      vertical-align: top;
    }
    & .videoBlock__title {
      display: inline-block;
      margin: 0.5rem 0 0.2rem 0.5rem;
      font-size: 15px;
      font-weight: 600;
    }
    & .videoBlock__views {
      display: inline-flex;
      margin: 0.5rem 0 0.5rem 0.5rem;
      & img {
        margin-right: 0.5rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .video {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
