.img-container {
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.text-container {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: $lineColor;
}
.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;

  form {
    margin: auto;
    display: flex;
    flex-direction: column;

    label,
    input {
      width: 325px;
      height: 48px;
      padding: 0 0 0 13px;
      border: 1px solid #bbb;
      border-radius: 5px;
      margin-bottom: 1rem;
    }

    input[type="submit"] {
      background-color: $lineColor;
      font-size: large;
      font-weight: bold;
      color: white;
    }

    input[type="file"] {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }
  }
}

.account-container {
  text-align: center;
  & a {
    margin: auto 0.5rem;
    color: $lineColor;
  }
}
