.userDetail_infomation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #ebecec;
  border-width: 1px 1px 1px 1px;
  border-bottom-right-radius: 3px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 820px;
  margin: auto;
  & img {
    margin: auto;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
  }
  & .user_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    & .profile__username {
      font-size: 1.5rem;
      font-weight: bold;
      color: #555555;
      margin-bottom: 0.5rem;
    }
  }
  & .user_edit {
    display: flex;
    flex-direction: column;
    margin: auto 1rem;
    & button {
      border-radius: 3px;
    }
    & .edit_button {
      margin-bottom: 0.5rem;
    }
  }
}
.user_video {
  margin: auto;
  max-width: 820px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: 1rem;
}
