doctype html
html
    head
        title csTube
    body
        header
            h1 csTube
        main 
            block content
        footer 
            span &copy 2018 Copyright: changsun
        